@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Không được phép !</h2>
<p>
    <img src="~/Content/admin/img/Warning.png" style="width:50px" /> Tài khoản của bạn không đủ quyền để truy cập nội dung "@ViewBag.page". Vui lòng liên hệ admin để được hổ trợ.
</p>
